{% extends "base.html" %} {% block content_wrapper %}
<form action="{% url 'bank:external_transfer' %}" method="post">
	{% csrf_token %}
	<fieldset>
	{{ form }}
	</fieldset>
	<br />
	<button type="submit">Submit external transfer</button>
</form>
{% endblock content_wrapper %}
