{% extends "base.html" %}

{% block content_wrapper %}
<form action="{% url 'bank:make_loan' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label>
        Name for loan
        <input name="name" type="text" />
    </label>
    <label>
        Amount
        <input name="amount" />
    </label>
    <label>
        Payment type
        <select name="payment_period">
            <option value"3"> 3 months </option>
            <option value="6" selected="selected"> 6 months </option>
            <option value="9"> 9 months </option>
            <option value="12"> 12 months </option>
            <option value="15"> 15 months </option>
        </select>
    </label>
    <button>Submit</button>
    </fieldset>
</form>
{% endblock %}
