{% extends "base.html" %}

{% block content_wrapper %}
<form action="{% url 'bank:staff_new_customer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ new_user_form }}
        {{ customer_form }}
    <button>Create User</button>
    </fieldset>
</form>
{% endblock %}
